Flask==2.2.2
Flask-Login==0.6.2
python-dateutil==2.8.2
pytz==2022.7.1
simplejson==3.18.1
Werkzeug==2.2.2
requests==2.31.0

# For testing
pytest==7.2.1
pytest-flask==1.2.0
tox==4.3.5

google-cloud-storage
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
google-api-core
google
google-cloud
