// Colors

// Globals
$cc-color-black: #000;
$cc-color-night-rider: #333;
$cc-color-dim-gray: #666;
$cc-color-nobel: #999;
$cc-color-very-light-grey: #ccc;
$cc-color-whisper: #eee;
$cc-color-white-smoke: #f6f6f6;
$cc-color-white: #fff;

// Transparent greys
$cc-color-black-transparent: rgba(0, 0, 0, .2);
$cc-color-ironside-grey-transparent: rgba(113, 112, 107, .1);
$cc-color-white-translucent: rgba(255, 255, 255, .5);
$cc-color-white-transparent: rgba(255, 255, 255, 0);

// Shades of blue and grey
$cc-color-chathams-blue: #2a4f6a;
$cc-color-wedgewood: #4a6a8a;
$cc-color-jellybean: #427694;
$cc-color-air-force-blue: #61889e;
$cc-color-bali-hai: #8098a5;
$cc-color-spindle: #afc5d2;
$cc-color-azure: #efffff;
$cc-color-solitude: #e6ebef;
$cc-color-lynch: #6e7a83;
$cc-color-trout: #474f56;

// Shades of blue
$cc-color-prussian-blue: #002e5b;
$cc-color-blue-lagoon: #065a7d;
$cc-color-dark-cerulean: #025a86;
$cc-color-bahama-blue: #2b6281;
$cc-color-lochmara: #1f7099;
$cc-color-curious-blue: #2683bc;
$cc-color-havelock-blue: #4d88c4;
$cc-color-spray: #80c7de;
$cc-color-french-pass: #a0d3e8;
$cc-color-alice-blue: #f2f9fe;

// Alerts
$cc-color-venetian-red: #c10006;
$cc-color-harley-davidson-orange: #cf1715;
$cc-color-pale-pink: #fce3e5;
$cc-color-ivory: #fcfcf3;
$cc-color-yellow: #ff0;
$cc-color-dark-orange: #f79400;
$cc-color-dark-tangerine: #f1a91e;
$cc-color-lucky: #a79526;
$cc-color-salem: #0d863d;
$cc-color-zanah: #b3c8b4;

// Berkeley colors
$cc-color-berkeley-blue: #003262;
$cc-color-berkeley-south-hall: #6c3302;
